<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="main.css" rel="stylesheet">
</head>
<body class="grey-bg">
    
    <%- include('nav.ejs') %>

    <%= JSON.stringify(result) %>
    <div class="detail-bg">
        <h4>글제목임</h4>
        <p>글내용임</p>
    </div> 

</body>
</html> 